*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur( 50px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    
}
.img{
  width: 150px;
  height: 100px;

}
.img:hover{
  transition: 0.8s;
  transform: scale(1.5);
}
.header-list-item{
      position: relative;
      transition: 0.3s;
      color: aqua;
   }
   .header-list-item::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: aqua;
      transition: 0.3s;
   }
   .header-list-item:hover::after{
      width: 100%;
   }

body {
background: black;
}



@keyframes bgMove {
    0% {
        background-position: 0%
    }

    50% {
        background-position: 100%
    }

    100% {
        background-position: 0%
    }
}


.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


.input-box {
    position: relative;
    margin: 15px 0;
}


input,
textarea {
    width: 320px;
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 2;
}


textarea {
    height: 160px;
    resize: none;
}


.input-box::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 12px;
    background: linear-gradient(90deg, #00f7ff, #00ffe0, #00f7ff);
    background-size: 300%;
    animation: neonMove 4s linear infinite;
}


.input-box::after {
    content: "";
    position: absolute;
    inset: 2px;
    background: #0a0a0a;
    border-radius: 10px;
}


.input-box:hover::before {
    background: linear-gradient(150deg, #ffffff, #00f7ff);
}


@keyframes neonMove {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 300%
    }
}


input::placeholder,
textarea::placeholder {
    color: #aaa;
}


button {
    margin-top: 20px;
    padding: 15px;
    width: 180px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(90deg, #00f7ff, #00ffe0, #00f7ff);
    background-size: 300%;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 0 15px #00f7ff;
    animation: btnMove 3s linear infinite;
    transition: 0.3s;
}


@keyframes btnMove {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 300%
    }
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 40px #00f7ff;
}
.boglanish{
   align-items: center;
   justify-content: center;
   display: flex;
   color: white;
   font-size: 50px;
}
.boglaning {
    display: inline-block;
    font-family: sans-serif;
    color: #00d2ff;
    color: aqua;
    
   
    animation: moveText 3s ease-in-out infinite;
}


@keyframes moveText {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px); 
    }
    100% {
        transform: translateX(0);
    }
}
.display{
    display: flex;
    gap: 50px;
}