 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 .mode{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 50px;
     padding: 20px 100px;
     background-color: rgb(249, 249, 249);
     backdrop-filter: blur(5px);
     position: sticky;
     top: 0;
     list-style: none;
     display: flex;
 }
 .nom{
    list-style: none;
    display: flex;
    gap: 40px;
 }
 .buton{
    padding: 20px;
    border-radius: 5px;
 }
 .button{
    padding: 10px;
    border-radius: 10px;
    background-color:blueviolet;
 }
 .button:hover{
   transition: 0.6s;
   font-size: 20px;
   background-color: blue;
 }
 .father-div{
    display: flex;
    align-items: center;
    justify-content: center;
 }
  .buton{
    padding: 25px;
    border-radius: 30px;
    background-color: rgba(253, 253, 253, 0.925);
    }
   .header-list-item{
      position: relative;
      transition: 0.3s;
   }
   .header-list-item::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: blue;
      transition: 0.3s;
   }
   .header-list-item:hover::after{
      width: 100%;
   }
   .rang{
      font-size: 80px;
      color: blueviolet;
   }
   .yozuv{
      font-size: 50px;
      color: rgb(49, 48, 48);
   }
   .soz{
      font-size: 35px;
      color: rgb(49, 48, 48);
   }
   body{
      background-color: rgb(245, 244, 244);
   }
   .ahref{
      color: red;
   }