*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}

 
.carusel{
    margin: 0px auto;
    width: 90%;
    border: 5px solid aqua;
    display: flex;
    overflow-x: auto;
    gap: 1em;
}
.carusel::-webkit-scrollbar{
    display: none;
    

    
}
.group{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1em ;
     animation: spin 10s infinite linear;
     padding-right: 1em;
    
}
.card{
   
    flex: 0 0 5em;
    height: 5em;
    background-color: aqua;
    font-size: 3rem;
    border-radius: 20px;
    text-align: center;
    align-content: center
}
.img40{
    width: 300px;
    height: 300px;

   
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100%;  }
    
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: rgba(0, 0, 0, 0.288);
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 50px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    
}
.img{
  width: 150px;
  height: 100px;

}
.img:hover{
  transition: 0.8s;
  transform: scale(1.6);
}
.header-list-item{
      position: relative;
      transition: 0.3s;
      color: aqua;
   }
   .header-list-item::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background-color: aqua;
      transition: 0.3s;
   }
   .header-list-item:hover::after{
      width: 100%;
   }
 body{
    background-color: black;
 }
 
.mening-teg{
    color: aqua;
    align-items: center;
    justify-content: center;
    display: flex;
}



 .section{
    align-items: center;
    justify-self: center;
 }


.card2{
    width: 350px;
    padding: 40px 30px;
    background: rgb(46, 46, 46);
    text-align: center;
    border-radius: 20px;
    color: black; 
    backdrop-filter: blur(6px);  
    margin: 20px;
    transition: 0.4s;
   
    
}
.card2:hover{
    transform: scale(1.2);
    box-shadow: 1px 1px 20px aqua;
    z-index: 10;
}
.img2{
    width: 200px;
    height:150px;
    border-radius:70%;
    object-fit:cover;
    border:3px solid #00fff2;
    box-shadow: 5px 5px 30px;
    transition: 0.4s;
}
.img2:hover{
    box-shadow: 0px 0px 60px aqua;
}
.ustozim{
    color: aqua;
}
.div1{
 display: flex;
 align-items: center;
 justify-content: center;
 perspective: 1000px;
 gap: 20px;
 

}
.div1:hover .card2{
transform: rotateY(30deg);

}
.div-father{
    align-items: center;
    justify-content: center;
    display: flex;
}

.div1 .card:hover{
    transform: scale(1.2) rotateY();
}
#toggle-theme:checked ~ .theme{
    background: linear-gradient(135deg, #f59e0b, #34d399) ;
    transform: translate(-100%  100%);
    transform: translate(0,0);
    color: rgb(0, 0, 0);
}

#toggle-theme{
    display: none;
}
